[submodule "sample_one/lib/forge-std"]
	path = sample_one/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sample_one/lib/chainlink-brownie-contracts"]
	path = sample_one/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
