//to install foundry setup on linux system
curl -L https://foundry.paradigm.xyz | bash
//to install foundry
foundryup


//create new project
forge init hello_foundry

//checking foundry version
forge --version
//for help menu
forge --help
